################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/ShopManagement
/.vs/ShopManagement/
/ShopManagement/bin/Debug/net8.0
/ShopManagement/obj
/ShopManagement/obj/
/.vs/ShopManagement/v17/DocumentLayout.backup.json
/.gitignore
/.vs/ShopManagement/v17/DocumentLayout.json
/.vs/ShopManagement/v17/.suo
/.vs/ProjectEvaluation/shopmanagement.metadata.v9.bin
/.vs/ProjectEvaluation/shopmanagement.projects.v9.bin
/.vs/ProjectEvaluation/shopmanagement.strings.v9.bin
/.vs/ShopManagement/CopilotIndices/17.14.1368.60722/CodeChunks.db
/.vs/ShopManagement/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
/.vs/ShopManagement/v17/.futdcache.v2
/ShopManagement/obj/Debug/net8.0/ShopManagement.GeneratedMSBuildEditorConfig.editorconfig
/ShopManagement/obj/Debug/net8.0/ShopManagement.AssemblyInfoInputs.cache
/ShopManagement/obj/Debug/net8.0/rpswa.dswa.cache.json
/ShopManagement/obj/Debug/net8.0/ShopManagement.AssemblyInfo.cs
/ShopManagement/obj/project.nuget.cache
/ShopManagement/obj/ShopManagement.csproj.nuget.dgspec.json
