################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/ShopManagement
/.vs/ShopManagement/
/ShopManagement/bin/Debug/net8.0
/ShopManagement/obj
/ShopManagement/obj/
/.vs/ShopManagement/v17/DocumentLayout.backup.json
/.gitignore
/.vs/ShopManagement/v17/DocumentLayout.json
/.vs/ShopManagement/v17/.suo
